In [1]:
import pandas as pd 
import csv
import http.client, urllib.request, urllib.parse, urllib.error, base64
import numpy as np

symbols = ['.DJI','.INX']#,'SPE350','SPLAC','000001','NI225','DAX','UKX','OSPTX','KOSPI','EB1X','SPE350']

# URL = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=INX&apikey=Y442NEI1Q76NWLAR&datatype=csv&outputsize=full'
# responses = urllib.request.urlopen(URL)
# #data = csv.reader(responses)
# data2 = pd.read_csv(responses)
# print(data2)

In [2]:
data = {}
for market in symbols:
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+ market +'&apikey=Y442NEI1Q76NWLAR&datatype=csv&outputsize=full'
    response = urllib.request.urlopen(url)
    ind_data = pd.read_csv(response)
    data[market] = ind_data

urlbit = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=CNY&apikey=Y442NEI1Q76NWLAR&datatype=csv'
response = urllib.request.urlopen(urlbit)
bitcoin_data = pd.read_csv(response)
data['bitcoin'] = bitcoin_data

In [3]:
#print(data['.INX']['timestamp']) #making sure the data is stored as a data frame
print(data)

{'.DJI':        timestamp        open        high         low       close  \
0     2018-10-19  25421.0898  25608.7109  25350.0195  25444.3398
1     2018-10-18  25645.5605  25691.4609  25236.0098  25379.4492
2     2018-10-17  25705.8691  25810.0898  25479.1602  25706.6797
3     2018-10-16  25351.5293  25817.6797  25351.5293  25798.4199
4     2018-10-15  25332.4609  25482.4199  25243.8809  25250.5508
5     2018-10-12  25407.6309  25467.5508  25000.8301  25339.9902
6     2018-10-11  25518.3906  25683.6406  24899.7695  25052.8301
7     2018-10-10  26441.7305  26487.8691  25567.0996  25598.7402
8     2018-10-09  26469.1895  26539.9395  26324.1602  26430.5703
9     2018-10-08  26399.4492  26529.3496  26223.0898  26486.7793
10    2018-10-05  26632.7695  26676.1602  26301.8105  26447.0508
11    2018-10-04  26784.0801  26793.8203  26471.6094  26627.4805
12    2018-10-03  26833.4707  26951.8105  26789.0801  26828.3906
13    2018-10-02  26648.9102  26824.7793  26627.6602  26773.9395
14    2018-10-01  26598.3594  26737.9805  26596.0508  26651.2109
15    2018-09-28  26407.6602  26515.7598  26383.5703  26458.3105
16    2018-09-27  26418.2695  26557.0098  26379.9492  26439.9297
17    2018-09-26  26536.8594  26606.0898  26349.3398  26385.2793
18    2018-09-25  26601.5801  26634.8496  26475.5801  26492.2109
19    2018-09-24  26705.2500  26709.9395  26548.6797  26562.0508
20    2018-09-21  26726.2500  26769.1602  26680.3691  26743.5000
21    2018-09-20  26519.3906  26697.4902  26519.3906  26656.9805
22    2018-09-19  26287.8398  26464.4102  26280.7598  26405.7598
23    2018-09-18  26076.2109  26317.3398  26076.2109  26246.9609
24    2018-09-17  26151.6602  26184.4707  26030.3496  26062.1191
25    2018-09-14  26169.5605  26211.1094  26068.2891  26154.6699
26    2018-09-13  26083.9395  26191.6406  26067.0801  26145.9902
27    2018-09-12  25989.0703  26145.7207  25929.4297  25998.9199
28    2018-09-11  25841.1406  26019.9199  25754.3203  25971.0605
29    2018-09-10  25991.9102  26039.9609  25854.1309  25857.0703
...          ...         ...         ...         ...         ...
4701  2000-02-14  10431.6504  10549.0000  10430.7998  10519.8398
4702  2000-02-11  10638.6396  10638.6396  10356.9600  10425.2100
4703  2000-02-10  10697.9199  10738.2500  10606.4004  10643.6299
4704  2000-02-09  10948.8203  10948.8203  10698.8496  10699.1602
4705  2000-02-08  10904.2598  11023.0596  10904.2598  10957.5996
4706  2000-02-07  10965.9697  10970.9404  10846.2197  10905.7900
4707  2000-02-04  11014.3701  11089.4502  10943.0195  10963.7998
4708  2000-02-03  11010.4805  11079.5195  10842.2598  11013.4404
4709  2000-02-02  11037.6396  11118.9297  10987.0703  11003.2002
4710  2000-02-01  10937.7402  11073.3203  10907.9600  11041.0498
4711  2000-01-31  10735.7695  10956.6699  10701.6396  10940.5303
4712  2000-01-28  11024.9199  11024.9199  10735.7695  10738.8701
4713  2000-01-27  11035.5498  11164.1396  10915.4004  11028.0195
4714  2000-01-26  11025.8496  11131.0303  11002.5801  11032.9902
4715  2000-01-25  11010.9600  11079.5195  10883.4502  11029.8896
4716  2000-01-24  11251.9404  11366.5000  10917.2695  11008.1699
4717  2000-01-21  11356.2598  11387.5996  11232.4805  11251.7100
4718  2000-01-20  11490.2900  11558.7002  11274.9805  11351.2998
4719  2000-01-19  11535.2402  11574.6797  11456.0098  11489.3604
4720  2000-01-18  11719.1904  11720.1201  11546.4502  11560.7197
4721  2000-01-14  11619.3496  11750.2803  11612.5303  11722.9805
4722  2000-01-13  11558.2402  11656.5801  11524.1104  11582.4297
4723  2000-01-12  11506.7305  11612.5303  11505.1797  11551.0996
4724  2000-01-11  11568.4697  11663.0996  11502.7002  11511.0801
4725  2000-01-10  11532.4805  11638.2803  11532.4805  11572.2002
4726  2000-01-07  11247.0596  11528.1396  11239.9199  11522.5596
4727  2000-01-06  11113.3701  11313.4502  11098.4502  11253.2598
4728  2000-01-05  10989.3701  11215.0996  10938.6699  11122.6504
4729  2000-01-04  11349.7500  11350.0596  10986.4502  10997.9297
4730  2000-01-03  11501.8496  11522.0098  11305.6904  11357.5098

      adjusted_close     volume  dividend_amount  split_coefficient
0         25444.3398  350810000              0.0                1.0
1         25379.4492  328020000              0.0                1.0
2         25706.6797  298210000              0.0                1.0
3         25798.4199  305800000              0.0                1.0
4         25250.5508  287320000              0.0                1.0
5         25339.9902  397510000              0.0                1.0
6         25052.8301  522880000              0.0                1.0
7         25598.7402  438200000              0.0                1.0
8         26430.5703  282560000              0.0                1.0
9         26486.7793  273020000              0.0                1.0
10        26447.0508  267100000              0.0                1.0
11        26627.4805  289600000              0.0                1.0
12        26828.3906  280130000              0.0                1.0
13        26773.9395  258290000              0.0                1.0
14        26651.2109  238320000              0.0                1.0
15        26458.3105  264030000              0.0                1.0
16        26439.9297  226350000              0.0                1.0
17        26385.2793  262620000              0.0                1.0
18        26492.2109  234110000              0.0                1.0
19        26562.0508  254850000              0.0                1.0
20        26743.5000  657620000              0.0                1.0
21        26656.9805  260480000              0.0                1.0
22        26405.7598  251330000              0.0                1.0
23        26246.9609  243000000              0.0                1.0
24        26062.1191  230230000              0.0                1.0
25        26154.6699  228640000              0.0                1.0
26        26145.9902  260800000              0.0                1.0
27        25998.9199  282770000              0.0                1.0
28        25971.0605  265960000              0.0                1.0
29        25857.0703  252170000              0.0                1.0
...              ...        ...              ...                ...
4701      10519.8398  167240000              0.0                1.0
4702      10425.2100  193540000              0.0                1.0
4703      10643.6299  156390000              0.0                1.0
4704      10699.1602  168550000              0.0                1.0
4705      10957.5996  168890000              0.0                1.0
4706      10905.7900  145660000              0.0                1.0
4707      10963.7998  166590000              0.0                1.0
4708      11013.4404  178630000              0.0                1.0
4709      11003.2002  164170000              0.0                1.0
4710      11041.0498  183110000              0.0                1.0
4711      10940.5303  191880000              0.0                1.0
4712      10738.8701  183090000              0.0                1.0
4713      11028.0195  194280000              0.0                1.0
4714      11032.9902  188840000              0.0                1.0
4715      11029.8896  209230000              0.0                1.0
4716      11008.1699  202740000              0.0                1.0
4717      11251.7100  205840000              0.0                1.0
4718      11351.2998  191230000              0.0                1.0
4719      11489.3604  193090000              0.0                1.0
4720      11560.7197  200220000              0.0                1.0
4721      11722.9805  266830000              0.0                1.0
4722      11582.4297  174910000              0.0                1.0
4723      11551.0996  194060000              0.0                1.0
4724      11511.0801  177300000              0.0                1.0
4725      11572.2002  168180000              0.0                1.0
4726      11522.5596  184900000              0.0                1.0
4727      11253.2598  176550000              0.0                1.0
4728      11122.6504  203190000              0.0                1.0
4729      10997.9297  178420000              0.0                1.0
4730      11357.5098  169750000              0.0                1.0

[4731 rows x 9 columns], '.INX':        timestamp       open       high        low      close  adjusted_close  \
0     2018-10-19  2775.6599  2797.7700  2760.2700  2767.7800       2767.7800
1     2018-10-18  2802.0000  2806.0400  2755.1799  2768.7800       2768.7800
2     2018-10-17  2811.6699  2816.9399  2781.8101  2809.2100       2809.2100
3     2018-10-16  2767.0500  2813.4600  2766.9099  2809.9199       2809.9199
4     2018-10-15  2763.8301  2775.9900  2749.0300  2750.7900       2750.7900
5     2018-10-12  2770.5400  2775.7700  2729.4399  2767.1299       2767.1299
6     2018-10-11  2776.8701  2795.1399  2710.5100  2728.3701       2728.3701
7     2018-10-10  2873.8999  2874.0200  2784.8601  2785.6799       2785.6799
8     2018-10-09  2882.5100  2894.8301  2874.2700  2880.3401       2880.3401
9     2018-10-08  2877.5300  2889.4500  2862.0801  2884.4299       2884.4299
10    2018-10-05  2902.5400  2909.6399  2869.2900  2885.5701       2885.5701
11    2018-10-04  2919.3501  2919.7800  2883.9199  2901.6101       2901.6101
12    2018-10-03  2931.6899  2939.8601  2921.3601  2925.5100       2925.5100
13    2018-10-02  2923.8000  2931.4199  2919.3701  2923.4299       2923.4299
14    2018-10-01  2926.2900  2937.0601  2917.9099  2924.5901       2924.5901
15    2018-09-28  2910.0300  2920.5300  2907.5000  2913.9800       2913.9800
16    2018-09-27  2911.6499  2927.2200  2909.2700  2914.0000       2914.0000
17    2018-09-26  2916.9800  2931.1499  2903.2800  2905.9700       2905.9700
18    2018-09-25  2921.7500  2923.9500  2913.7000  2915.5601       2915.5601
19    2018-09-24  2921.8301  2923.7900  2912.6299  2919.3701       2919.3701
20    2018-09-21  2936.7600  2940.9099  2927.1101  2929.6699       2929.6699
21    2018-09-20  2919.7300  2934.8000  2919.7300  2930.7500       2930.7500
22    2018-09-19  2906.6001  2912.3601  2903.8201  2907.9500       2907.9500
23    2018-09-18  2890.7400  2911.1699  2890.4299  2904.3101       2904.3101
24    2018-09-17  2903.8301  2904.6499  2886.1599  2888.8000       2888.8000
25    2018-09-14  2906.3799  2908.3000  2895.7700  2904.9800       2904.9800
26    2018-09-13  2896.8501  2906.7600  2896.3899  2904.1799       2904.1799
27    2018-09-12  2888.2900  2894.6499  2879.2000  2888.9199       2888.9199
28    2018-09-11  2871.5701  2892.5200  2866.7800  2887.8899       2887.8899
29    2018-09-10  2881.3899  2886.9299  2875.9399  2877.1299       2877.1299
...          ...        ...        ...        ...        ...             ...
4701  2000-02-14  1387.1200  1394.9301  1380.5300  1389.9399       1389.9399
4702  2000-02-11  1416.8300  1416.8300  1378.8900  1387.1200       1387.1200
4703  2000-02-10  1411.7000  1422.1000  1406.4301  1416.8300       1416.8300
4704  2000-02-09  1441.7200  1444.5500  1411.6500  1411.7100       1411.7100
4705  2000-02-08  1424.2400  1441.8300  1424.2400  1441.7200       1441.7200
4706  2000-02-07  1424.3700  1427.1500  1413.3300  1424.2400       1424.2400
4707  2000-02-04  1424.9700  1435.9100  1420.6300  1424.3700       1424.3700
4708  2000-02-03  1409.1200  1425.7800  1398.5200  1424.9700       1424.9700
4709  2000-02-02  1409.2800  1420.6100  1403.4900  1409.1200       1409.1200
4710  2000-02-01  1394.4600  1412.4900  1384.7900  1409.2800       1409.2800
4711  2000-01-31  1360.1600  1394.4800  1350.1400  1394.4600       1394.4600
4712  2000-01-28  1398.5601  1398.5601  1356.2000  1360.1600       1360.1600
4713  2000-01-27  1404.0900  1418.8600  1370.9900  1398.5601       1398.5601
4714  2000-01-26  1410.0300  1412.7300  1400.1600  1404.0900       1404.0900
4715  2000-01-25  1401.5300  1414.2600  1388.4900  1410.0300       1410.0300
4716  2000-01-24  1441.3600  1454.0900  1395.4200  1401.5300       1401.5300
4717  2000-01-21  1445.5699  1453.1801  1439.6000  1441.3600       1441.3600
4718  2000-01-20  1455.9000  1465.7100  1438.5400  1445.5699       1445.5699
4719  2000-01-19  1455.1400  1461.3900  1448.6801  1455.9000       1455.9000
4720  2000-01-18  1465.1500  1465.1500  1451.3000  1455.1400       1455.1400
4721  2000-01-14  1449.6801  1473.0000  1449.6801  1465.1500       1465.1500
4722  2000-01-13  1432.2500  1454.2000  1432.2500  1449.6801       1449.6801
4723  2000-01-12  1438.5601  1442.6000  1427.0800  1432.2500       1432.2500
4724  2000-01-11  1457.6000  1458.6600  1434.4200  1438.5601       1438.5601
4725  2000-01-10  1441.4700  1464.3600  1441.4700  1457.6000       1457.6000
4726  2000-01-07  1403.4500  1441.4700  1400.7300  1441.4700       1441.4700
4727  2000-01-06  1402.1100  1411.9000  1392.1000  1403.4500       1403.4500
4728  2000-01-05  1399.4200  1413.2700  1377.6801  1402.1100       1402.1100
4729  2000-01-04  1455.2200  1455.2200  1397.4301  1399.4200       1399.4200
4730  2000-01-03  1469.2500  1478.0000  1438.3600  1455.2200       1455.2200

          volume  dividend_amount  split_coefficient
0     3566490000              0.0                1.0
1     3616440000              0.0                1.0
2     3321710000              0.0                1.0
3     3428340000              0.0                1.0
4     3300140000              0.0                1.0
5     3966040000              0.0                1.0
6     4890630000              0.0                1.0
7     4501250000              0.0                1.0
8     3520500000              0.0                1.0
9     3330320000              0.0                1.0
10    3328980000              0.0                1.0
11    3496860000              0.0                1.0
12    3598710000              0.0                1.0
13    3401880000              0.0                1.0
14    3364190000              0.0                1.0
15    3432300000              0.0                1.0
16    3060850000              0.0                1.0
17    3388620000              0.0                1.0
18    3285480000              0.0                1.0
19    3372210000              0.0                1.0
20    5607610000              0.0                1.0
21    3337730000              0.0                1.0
22    3280020000              0.0                1.0
23    3074610000              0.0                1.0
24    2947760000              0.0                1.0
25    3149800000              0.0                1.0
26    3254930000              0.0                1.0
27    3264930000              0.0                1.0
28    2899660000              0.0                1.0
29    2731400000              0.0                1.0
...          ...              ...                ...
4701   927300000              0.0                1.0
4702  1025700000              0.0                1.0
4703  1058800000              0.0                1.0
4704  1050500000              0.0                1.0
4705  1047700000              0.0                1.0
4706   918100000              0.0                1.0
4707  1045100000              0.0                1.0
4708  1146500000              0.0                1.0
4709  1038600000              0.0                1.0
4710   981000000              0.0                1.0
4711   993800000              0.0                1.0
4712  1095800000              0.0                1.0
4713  1129500000              0.0                1.0
4714  1117300000              0.0                1.0
4715  1073700000              0.0                1.0
4716  1115800000              0.0                1.0
4717  1209800000              0.0                1.0
4718  1100700000              0.0                1.0
4719  1087800000              0.0                1.0
4720  1056700000              0.0                1.0
4721  1085900000              0.0                1.0
4722  1030400000              0.0                1.0
4723   974600000              0.0                1.0
4724  1014000000              0.0                1.0
4725  1064800000              0.0                1.0
4726  1225200000              0.0                1.0
4727  1092300000              0.0                1.0
4728  1085500000              0.0                1.0
4729  1009000000              0.0                1.0
4730   931800000              0.0                1.0

[4731 rows x 9 columns], 'bitcoin':                                                    {
0      "Information": "Thank you for using Alpha ...
1                                                  }}

In [4]:
from pandas.io import sql
import MySQLdb

con = MySQLdb.connect()  # may need to add some other options to connect

ModuleNotFoundError: No module named 'MySQLdb'